%hr.m-0/
/ 1px line separator
/ Vacuum Home Elevator
%section#vacuum-home
  .container.text-center
    .heading-title.heading-dotted.text-center
      %h2 Residential
    .row.text-left
      .col-sm-8
        = image_tag(“_rocket/residential-page/1-vacuum-elevator-resize.jpeg”, :alt => “Vacuum home elevator”)
      .col-sm-4
        %h3.fw-300
          %span Vacuum
          Home Elevator
        %p Rocket Elevators residential elevators are different in every way from traditional designs. This leads many consumers to question what exactly they do differently, and why a vacuum elevator is a better solution for the home than a traditional weights-and-pulleys lift.
        %p Here is a quick look at some of the clear advantages vacuum residential elevators have over their older cousins:
        %hr/
        %ul.list-unstyled.list-icons
          %li
            %i.fa.fa-check
            No need for excavation, a pit, machine room, or hoist. Vacuum elevators run entirely on self-contained mechanics.
          %li
            %i.fa.fa-check
            Total safety. In the event of a power outage, the lift floats softly to the ground on a cushion of air and automatically opens the lower door.
          %li
            %i.fa.fa-check
            Eco-friendly. Vacuum elevators use minimal electricity on the ascent and none on the descent. It’s all about gravity.
          %li
            %i.fa.fa-check
            Low maintenance. Our lifts need their main seal replaced once every five years or 15,000 lifts. That’s all.
          %li
            %i.fa.fa-check
            Smooth, quiet operation. Installing a vacuum elevator is the least intrusive method of handling a vertical mobility issue in your home.
/ /Vacuum Home Elevator
/ Apartment Building Elevetor
%section#apartment-elevator
  .container.text-center
    .row.text-left
      .col-sm-8
        = image_tag(“_rocket/residential-page/2-apartment-building-elevator-resize.jpeg”, :alt => “Apartment building elevator”)
      .col-sm-4
        %h3.fw-300
          %span Apartment
          Building Elevator
        %p Gearless elevators with or without machine room, to make housing accessible to everyone. Quiet elevators that provide comfort and convenience. Provided with the latest technology, incorporating LED lighting and automatic switch-off systems when elevator is not in use, thereby improving energy efficiency for the elevators and respecting the environment.
        %hr/
        %ul.list-unstyled.list-icons
          %li
            %i.fa.fa-check
            Available with or without a machine room.
          %li
            %i.fa.fa-check
            High efficiency for housing. Optimal use of space and the latest direct drive technology (Gearless).
          %li
            %i.fa.fa-check
            The basic solution. The latest technology in an affordable and functional version.
          %li
            %i.fa.fa-check
            Completely customisable, maximum flexibility with better performance.
/ /Apartment Building Elevetor