.navbar-collapse.collapse.float-right.nav-main-collapse.submenu-dark
  %nav.nav-main
  %li
    / HOME
    %a#home-nav.scrollTo{:href => "#top"}
      HOME
  %li
    / SERVICES
    %a.dropdown-toggle{:href => "#services"}
      SERVICES
    /
      <a href="#services">
      SERVICES
      </a>
    %ul.dropdown-menu.normal{:class => "white-space="}
      %li
        %a{:href => "residential.html#vacuum-home"} Residential
      %li
        %a{:href => "commercial.html#observation-elevator"} Commercial
      %li
        %a{:href => "quote.html#request-quote"} Request A Quote
  %li
    / PORTFOLIO
    / id="portfolio-nav"
    %a{:href => "#portfolio"}
      PORTFOLIO
  %li
    / NEWS
    %a{:href => "#news"}
      NEWS
  %li
    / CLIENTS
    %a{:href => "#clients"}
      CLIENTS
  %li
    / CONTACT
    %a{:href => "#contact"}
      CONTACT
/ /Top Nav